.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6979F8;
  border-radius: 20px;
  margin:10px;
  padding: 15px;
  color: white;
  max-width: 100%;
}

.header-title {
  font-size: 24px;
  margin: 0;
  cursor: pointer;
}

.menu-btn, .profile-btn {
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.header-title:hover {
  transform: scale(1.1);
}

.menu-btn:hover {
  transform: scale(1.1);
}

/* Profile Picture */
.profile-picture-header {
  width: 32px;   
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Hover Effects */
.profile-picture-header:hover,
.profile-btn:hover {
  transform: scale(1.1);
}