.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6979F8;
    border-radius: 20px;
    margin:10px;
    padding: 15px;
    color: white;
  }
  
  .header-title {
    font-size: 24px;
    margin: 0;
    cursor: pointer;
  }
  
  .menu-btn, .profile-btn {
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }